@using NewVoiceMedia.Tools.ReleaseInspection.WebPresentation
@using System.Collections.Generic;
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NewVoiceMedia.Tools.ReleaseInspection.Model.StoryWorkList>

<table class="table table-striped table-condensed">
    <thead>
    <th>Story Id</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Areas or Paths</th>
    <th></th>
    </thead>
    @foreach (var storyWork in @Model)
    {
        <tr>
            <td>
                @Html.Partial("_DisplayStoryType", storyWork.Story.StoryType) <br />
                @(@storyWork.Story.Key != null ? storyWork.Story.Key : storyWork.Story.Id)   
            </td>
            <td>
                <a href=@storyWork.Story.Url target="_blank">@storyWork.Story.Title</a>
            </td>
            <td>
                @foreach (var author in @storyWork.Authors)
                {
                    @author<br />
                }
            </td>
            <td>
                @Html.Partial("_DisplayPathAndAreas", storyWork.PathsAndAreas)
            </td>
        </tr>
    }
</table>



