@using NewVoiceMedia.Tools.ReleaseInspection.WebPresentation
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NewVoiceMedia.Tools.ReleaseInspection.Model.IPathsAndAreas>

    @{
        string anchorId = DisplayHelpers.GenerateUniqueId();
    }

    @foreach (var area in @Model.Areas) 
    {
        @string.Format("{0}  / {1} file(s).", @area.Key, @area.Value.Count)

        <br/>
        
        <div class="@string.Format("div{0}", anchorId)" style="display: none;">
            @foreach (var path in @area.Value)
            {
                <a target="_blank" href="@path.ToViewVcPath()">@path.ToDisplayPath()</a>
                <br />
            }
        </div>
    }

    @foreach (var area in @Model.TestAreas)
    {
        @string.Format("{0}  / {1} file(s).", @area.Key, @area.Value.Count)

        <br />

        <div class="@string.Format("div{0}", anchorId)" style="display: none;">
            @foreach (var path in @area.Value)
            {
                <a target="_blank" href="@path.ToViewVcPath()">@path.ToDisplayPath()</a>
                <br />
            }
        </div>
    }

    @if (@Model.UnmappedPaths.Count > 0)
    {
        <em>@string.Format("Unmapped paths / {0} file(s).", @Model.UnmappedPaths.Count)</em>
        <div class="@string.Format("div{0}", anchorId)" style="display: none;">

            @foreach (var path in @Model.UnmappedPaths)
            {
                <a target="_blank" href="@path.ToViewVcPath()">@path.ToDisplayPath()</a>
                <br />
            }
        </div>
    }
    
    <td><a class="hidden-print text-center btn btn-default btn-xs" href="javascript:toggle('@string.Format("div{0}", anchorId)');"> Show/Hide</a></td>




