@using NewVoiceMedia.Tools.ReleaseInspection.WebPresentation
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NewVoiceMedia.Tools.ReleaseInspection.Model.TeamWorkModel>
<div id="acceptedChores">
    <h2>Changes signed off by the Test and Build Team</h2>
    <p><span class="label label-info">Info</span>&nbsp;&nbsp;The Product Team has <em>Accepted</em> these items as being ready to go live.</p>
    @if (@Model.AcceptedWork.Count == 0)
    {
        <div class="alert alert-info">
            <p>
                <strong>Info!</strong> No accepted work.
            </p>
        </div>
    }
    else
    {
        @Html.Partial("_DisplayAcceptedWork", @Model.AcceptedWork)
    }
</div>
<div id="inprogresschores">
    <h2>Work in progress for the Test and Build Team</h2>
    <p><span class="label label-info">Info</span>&nbsp;&nbsp;These items are still being developed, so <em>shouldn't</em> be accessible to, nor impact customers.</p>
    @if (@Model.UnfinishedWork.Count == 0)
    {
        <div class="alert alert-info">
            <p>
                <strong>Info!</strong> No work currently in progress.
            </p>
        </div>
    }
    else
    {
        @Html.Partial("_DisplayInProgressWork", @Model.UnfinishedWork)
    }
</div>
