@using NewVoiceMedia.Tools.ReleaseInspection.WebPresentation
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NewVoiceMedia.Tools.ReleaseInspection.Model.CookbookChangesModel>

<!DOCTYPE html>

<html>
<head>
    <title>@Model.EnvCookbookName @Model.Description on "@Model.CloudName"</title>
    <link rel="stylesheet" type="text/css" href="/Content\bootstrap-3.0.0.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/Content/print.css" media="print" />
    <script type="text/javascript" src="/Content/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/Content/jquery.tablesorter-2.0.min.js"></script>
    <script type="text/javascript" src="/Content\bootstrap-3.2.0.min.js"></script>
    <script type="text/javascript" src="/Content/alltab.js"></script>
    <script language="javascript">

        function toggle(classIdentifier) {

            var elements = $('.' + classIdentifier);

            for (var i = 0; i < elements.length; i++) {
                if (elements[i].style.display == "block") {
                    elements[i].style.display = "none";
                } else {
                    elements[i].style.display = "block";
                }
            }
        }

    </script>

</head>
<body>
    <div class="container" id="container">
        <div>
            <h2>@Model.EnvCookbookName @Model.Description on "@Model.CloudName"</h2>
        </div>
        <div id="tabs">
            <ul class="nav nav-tabs" role="tablist">
                <li><a data-toggle="tab" id="allchanges">All Changes</a></li>
                <li class="active"><a data-toggle="tab" href="#product" role="tab">Product</a></li>
                <li><a data-toggle="tab" href="#chores" role="tab">Chores</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="product">
                    <div>
                        <h2>Changes signed off since the last deployment</h2>
                        <p><span class="label label-info">Info</span>&nbsp;&nbsp;The Product Team has <em>Accepted</em> these items as being ready to go live.</p>
                        @if (@Model.Changes.AcceptedWork.Count == 0)
                        {
                            <div class="alert alert-warning">
                                <p><strong>Warning!</strong> There is no accepted product work present in this release.</p>
                            </div>
                        }
                        else
                        {
                            @Html.Partial("_DisplayAcceptedWork", @Model.Changes.AcceptedWork)
                        }

                    </div>
                    <div>
                        <h2>Work in progress</h2>
                        <p><span class="label label-info">Info</span>&nbsp;&nbsp;These items are still being developed, so <em>shouldn't</em> be accessible to, nor impact customers.</p>
                        @if (@Model.Changes.UnfinishedWork.Count == 0)
                        {
                            <div class="alert alert-success">
                                <p>There is no more work in progress for this release.</p>
                            </div>
                        }
                        else
                        {
                            @Html.Partial("_DisplayInProgressWork", @Model.Changes.UnfinishedWork)
                        }

                    </div>
                </div>
                <div class="tab-pane" id="chores">
                    @Html.Partial("_DisplayChores", @Model.Changes.Chores)
                </div>
                <div>
                    <h2>Changes not traceable to a story/defect/chore</h2>
                    @if (@Model.Changes.UntrackedWork.Items.Count == 0)
                    {
                        <div class="alert alert-success">
                            <p>
                                <strong>Hurrah!</strong> No untracked work is present in this release!
                            </p>
                        </div>
                    }
                    else
                    {
                        @Html.Partial("_DisplayUntrackedWork", @Model.Changes.UntrackedWork)
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
